*{
  margin: 0;
  padding: 0;
  list-style: none;
}
/* carousel start */
img{
  height: 600px;
}
/* carousel end */
/* discover start */
.discover{
  width: 500px;
  text-align: center;
}
/* coures start */
.content h2{
  color: #289BDE;
}
/* coures end */
/* work start */
.section{
  margin-top: 100px
}
/* work end */
/* /join start */
.join{
  display: flex;
  justify-content: space-around;
  height: 250px;
  align-items: center;
}
/* /join end */
/* trustted css-start */
.trust{
  font-size: 16px;
}
/* trustted css-end */
/* footer start */
.discover-1{
  text-align: center;
  height: 250px;
 
}
/* footer end */