*{
  margin: 0;
  padding: 0;
  list-style: none;
}
/* carousel start */
img{
  height: 600px;
}
/* carousel end */
/* discover start */
.discover{
  width: 500px;
  text-align: center;
}
/* coures start */
.content h2{
  color: #289BDE;
}
/* coures end */
/* work start */
.section{
  margin-top: 100px
}
/* work end */
/* join css-start */
.join{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}
.join button{
  margin-left: 100px;
}
/* join css-end */